body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* CSS MENY */

#navigasjon{
    height: 10rem;
}

body header nav a img{
    padding: 1rem 0rem 0rem 1rem;
    width: 7rem;
    height: 7rem;
}

#navliste{
    float: right;
    list-style: none;
}

#navliste li{
 display:inline-block;
 margin-right: 3rem;
 margin-top: 3rem;
}

#navliste a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#navbtn{
    background-color: #e6bd43;
    padding:1rem;
}



#contactsection{
    background-color:rgba(211, 211, 211, 0.776);
}

/* CSS FOOTER */

footer{
    background-color: #252525;
    padding:1rem;
    overflow: hidden;
}
/* Hadde vanskeligheter med å få elementene i footer i horisontallinje, og har derfor brukt AC sin kode fra responsivt design til inspirasjon*/

footer nav a img{
    margin: 0;
    float: left;
    width: 7rem;
    height: 7rem;
}

footer nav ul{
    list-style: none;
    float: right;
}

footer nav ul li{
    display:inline-block;
    margin-right: 1rem;
    margin-top: 3rem;
}

footer nav ul li a{
    text-decoration: none;
    color: #fff;
}

footer nav ul{
    text-align: right;
}

footer nav p{
    display: inline-block;
    margin-left: 40rem;
    margin-top: 4rem;
    color: #fff
    
}

