body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* CSS MENY */

#navigasjon{
    height: 10rem;
}

body header nav a img{
    padding: 1rem 0rem 0rem 1rem;
    width: 7rem;
    height: 7rem;
}

#navliste{
    float: right;
    list-style: none;
}

#navliste li{
    display:inline-block;
    margin-right: 3rem;
    margin-top: 3rem;
}

#navliste a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#navbtn{
    background-color: #e6bd43;
    padding:1rem;
}

/*CSS INDEX.html*/

#greysection{
    background-color: rgba(211, 211, 211, 0.776);
    text-align: center;
    padding: 120px;
}

#greysectionp{
margin: 0rem 0rem 4rem 22rem;
max-width: 800px;
}

#h1index{
    font-size: 50px;
}

#readbtnyellow{
    background-color: #e6bd43;
    padding: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#section2index{
    padding: 90px;
    text-align: center;
}

#section2p{
   margin: 1rem 4rem 1rem 4rem;
}


#borderbox{
    border-style:solid; /*Googlet meg frem til hvordan å sette en ramme rundt ett element. Se litteraturliste, Nr.3.*/
    border-width: 2px;
    overflow: hidden;
}

#boximg{
    float: left;
    margin-left: 30rem;
    padding: 60px 20px 60px 60px;
}

#borderbox h2{
    margin: 60px 0 0 0;
    padding:60px 0 0 0;
}

#borderbox p{
    max-width: 1250px;
    margin-bottom: 4rem;
}

#boxbtn{
    border-style: solid;
    text-decoration: none;
    padding: 1rem;
    color:#000;
}

#section4index{
    padding: 50px;
    margin: 10px;
}

.serviceos{
    text-align: center;
}

.serviceliste{
    list-style: none;
    padding: 0;
    margin:0;
    text-align: center;
}

.serviceliste li{
    display:inline-block;
}

.serviceitems{
    font-weight: bold;
    max-width: 200px;
    padding:4rem;
}

.section4p{
    font-weight: normal;
}

#signup{
    background-color: rgba(211, 211, 211, 0.776);
    text-align: center;
    padding: 50px;
}

#signfelt{
    padding:1rem;
    border: none;
}

#signbtn{
    background-color: #e6bd43;
    padding:1rem;
    font-weight: bold;
    border:none;
}

/*CSS ABOUT.html*/

#section1about{
    background-image: url(../img/portfolio_bkgr.png); /*Måtte se en video for referanse til hvordan jeg satt et bakgrunnsbilde med annen mappestruktur. Se litteraturliste, Nr.7.*/
    background-size: cover;
    padding: 100px;
    overflow: hidden;
}

#article1section{
    background-color: #ffffffb3;
    max-width: 600px;
    float: right;
    padding: 5rem;
}

#articlep{
    margin-bottom: 4rem;
}

#intouchbtn{
    text-decoration: none;
    background-color: #e6bd43;
    padding:1rem;
    font-weight: bold;
    color:#000
}

#serviceheading{
    text-align: center;
    font-size: 40px;
}

#section2about{
    padding: 50px;
    margin: 10px;
}

#klienteroverskrift{
    font-size: 30px;
}

#clientsfelt{
    text-align: center;
    color: #000;
    background-color: #e6bd43;
    padding:3rem;
    margin: 0;
}

.clients{
    padding: 3rem;
}

#contactsection{
    background-color:rgba(211, 211, 211, 0.612);
    padding: 0rem 6rem 20rem 0rem;
}

#contactoverskrift{
    text-align: center;
    margin: 0;
    padding: 3rem;
    font-size: 30px;
}

#kartbilde{
    width: 100%;
}

#messageform{
    float: left;
    margin-right: 5rem;
    margin-left: 30rem;
}

.labeltext{
    display: block;
    margin-bottom: 10px;
}

#message{
    padding:100px;
    border:none;
}

#name{
    padding: 1rem;
    border: none;
    width: 350px;
}

#subject{
    padding: 1rem;
    border: none;
    width: 350px;
}

#submitbtn{
    background-color: #e6bd43;
    padding:1rem;
    border: none;
    font-weight: bold;
}

/* CSS PRODUKT.html*/

.tekstbox{
    position: relative;
}

.floatingtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight:bold;
    /* Brukt w3schools for å finne ut av hvordan man fikk teksten tydlig flytende over et bilde. Se litteraturliste, Nr.15.*/
}

#textboxphoto{
    width:100%;
    height:450px;
    opacity: 0.5;
    /*Måtte søke opp hvordan man gjorde et bilde gjennomsiktig. Se litteraturliste, Nr.16.*/
}

.overskrifter{
    margin-left: 2rem;
    font-size: 2rem;
}

.strek{
    margin:2rem;
    color: #e6bd43;
}

#produktknapper{
    padding: 2rem;
}

#port_button1{
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 8px;
    color:#000;
}

.port_button{
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 8px;
    color:#000;
    margin-left: 1rem;
}

.artikkelkort{
    display: inline-block;
    max-width: 350px;
    min-width: 200px;
    margin: 2rem;
}

#artikkelkort1{
    max-width: 350px;
    min-width: 200px;
    margin:2rem;
}

#artikkelpic{
    height: 600px;
}

#artikkelkort2{
    display: inline-block;
    max-width: 350px;
    min-width: 200px;
    margin: 2rem 2rem 0rem 2rem;
}

#artikkelkort3{
    display: inline-block;
    max-width: 350px;
    min-width: 200px;
    margin: 0rem 0rem 0rem 34rem;
}

#artikkelbilde1{
    height: 800px;
}

#artikkelbilde2{
    height: 800px;
}


/* CSS FOOTER */

footer{
    background-color: #252525;
    padding:1rem;
    overflow: hidden;
    font-weight: bold;
}
/* Hadde vanskeligheter med å få elementene i footer i horisontallinje, og har derfor brukt AC sin forelesning om responsivt design til inspirasjon. Se litteraturliste, Nr.5.*/

footer nav a img{
    margin: 0;
    float: left;
    width: 7rem;
    height: 7rem;
}

footer nav ul{
    list-style: none;
    float: right;
}

footer nav ul li{
    display:inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
}

footer nav ul li a{
    text-decoration: none;
    color: #fff;
}

footer nav ul{
    text-align: right;
}

footer nav p{
    display: inline-block;
    margin-left: 35rem;
    margin-top: 3rem;
    color: #fff
    
}

