body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* CSS MENY */

#navigasjon{
    height: 10rem;
}

body header nav a img{
    padding: 1rem 0rem 0rem 1rem;
    width: 7rem;
    height: 7rem;
}

#navliste{
    float: right;
    list-style: none;
}

#navliste li{
 display:inline-block;
 margin-right: 3rem;
 margin-top: 3rem;
}

#navliste a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#navbtn{
    background-color: #e6bd43;
    padding:1rem;
}



#contactsection{
    background-color:rgba(211, 211, 211, 0.776);
}

/* CSS FOOTER */

footer{
    background-color: #252525;
}

footer nav a img{
    margin: 4rem 0rem 0rem 4rem;
}

footer nav ul li{
    text-align: right;
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: inline;
}

footer nav ul li a{
    text-decoration: none;
    color: #fff;
    display: inline;
}

footer nav ul{
    text-align: right;
}

footer nav p{
    text-align: center;
    color: #fff
}

